* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: black;
	background-image: url(/assets/background.jpg);
	background-repeat: no-repeat;
	background-position: -350px -200px;
	background-size: 150%;

}

.header-container {
	width: 100vw;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	gap: 3rem;
}

button {
	width: 8rem;
	height: 3.5rem;
	background-color: rgb(211, 240, 246);
	border: 2px solid rgb(100, 171, 204);
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgb(100, 171, 204);
	font-size: 1.2rem;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: yellow;
	text-shadow: 0 0 2px yellow, 0 0 2px yellow;
	font-weight: 900;
	cursor: pointer;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
}

h1 {
	font-size: 6rem;
	color: black;
	font-weight: 900;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: yellow;
	text-shadow: 0 0 3px yellow, 0 0 5px yellow;
}

.logo-img {
	margin-top: 100px;
	width: 700px;
}

.all-ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 4rem;
	gap: 5rem;
}

.main-cards {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 275px;
	height: 470px;
	padding: 2rem;
	background-color: rgb(211, 240, 246);
	border: 2px solid rgb(100, 171, 204);
	border-radius: 1rem;
	box-shadow: 5px 5px 20px rgb(100, 171, 204);
	animation: slidein 3s cubic-bezier(0.19, 1, 0.22, 1), fadein 1s forwards;
	opacity: 0;
}

@keyframes slidein {
	0% {
		transform: translateY(+150%);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadein {
	to {
		opacity: 1;
	}
}

.main-cards:nth-child(2) {
	animation-delay: 0.2s;
}
.main-cards:nth-child(3) {
	animation-delay: 0.4s;
}
.main-cards:nth-child(4) {
	animation-delay: 0.6s;
}
.main-cards:nth-child(5) {
	animation-delay: 0.8s;
}
.main-cards:nth-child(6) {
	animation-delay: 1s;
}

.properties-img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

li img {
	display: flex;
	align-self: center;
}